<div class="main-container">

</div>
<ul class="box">
<p class="sample3">～Habit Reco～</p>
<li class="scroll_right">
 <img src="https://images.unsplash.com/photo-1542319920155-a236a55f1a97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTYwfHxzdHVkeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
 <p class="sample1">1,ログインをして勉強内容を記録しよう<br></p>
</li>
<li class="scroll_left">
 <p class="sample1">2,たくさん勉強してユーザーとランキングを競おう</p><br>
 <img src="https://images.unsplash.com/photo-1602418300003-f555eed46508?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODl8fCVFNSU4QiU4OSVFNSVCQyVCN3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="image2">
</li>
<li class="scroll_right">
 <img src="https://images.unsplash.com/photo-1474366521946-c3d4b507abf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTB8fCVFNSU4QiU4OSVFNSVCQyVCN3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
 <p class="sample1">3,マイページから勉強記録を振り返ろう</p><br>
</li>

</ul>


