
  
  .post {
    border-top: solid #171616;
    margin-top: 10px;
    padding-top: 20px;
  }
  table th, table td{
    background-color: #accdd6;
    text-align:center;
    padding : 20px 10px;
    margin: auto;
    width : 480px ;
    border:solid 3px rgb(89, 86, 86);
  }
  p{
    font-size:15px;
    text-align:center;
    font-family: "Arial Black";
    color: rgb(35, 41, 41);

  }
  .namae{
    font-size:20px;
    text-align:left;
    margin-left: 30px;
    color: rgb(11, 12, 12);
  }
  
  